* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.box-nav {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f74803;
}

.box-tilte-list {
    width: 98%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #ffffff;
    font-size: 1.6em;
    text-shadow: 1px 1px 1px black;
}

.box-menu {
    width: 63%;
    height: 6vh;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.02em;
    font-weight: bold;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px black;
}

.men-item {
    text-decoration: none;
    color: #ffffff;
}

#container-one {
    width: 100%;
    height: 88vh;
    background-image: url('../assets/screens/photo1.jpg');
    background-size: 102%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    width: 80vw;
    font-size: 1.4em;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}

#container-two {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('../assets/screens/backnascar.jpg');
    background-size: cover;
}

.title-two {
    width: 46vw;
    margin-left: 13em;
    font-size: 1.8em;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}

.text-nasc {
    width: 36vw;
    font-size: 1.2em;
    letter-spacing: 0.03em;
    color: #f74803;
    text-shadow: 1px 1px 1px #000000;
}

#container-tree {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('../assets/screens/backeuro.jpg');
    background-size: cover;
}

.title-tree {
    width: 50vw;
    margin-left: 13em;
    font-size: 1.8em;
}

.text-eur {
    width: 38vw;
    font-size: 1.2em;
    letter-spacing: 0.03em;
}

#container-four {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('../assets/screens/backfall.png');
    background-size: cover;
    background-position: 50% 100%;
}

.title-four {
    width: 50vw;
    margin-left: 18em;
    font-size: 1.8em;
}

.text-war {
    width: 44vw;
    font-size: 1.2em;
    letter-spacing: 0.03em;
}

#container-five {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('../assets/screens/backstar.jpg');
    background-size: cover;
}

.title-five {
    width: 50vw;
    margin-left: 13em;
    font-size: 1.8em;
}

.text-star {
    width: 40vw;
    font-size: 1.2em;
    letter-spacing: 0.03em;
}

#container-six {
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url('../assets/screens/backsn.png');
    background-size: cover;
    background-position: 50% 100%;
}

.title-six {
    width: 50vw;
    margin-left: 18em;
    font-size: 1.8em;
}

.text-sno {
    width: 28vw;
    font-size: 1.2em;
    letter-spacing: 0.03em;
}

.final-box {
    width: 100%;
    height: 18vh;
    background-color: #f74803;
}